<div id="adminStatsStyle">
  <div class="container">

    <h1 id="firstContent" class="text-center">Estadísticas del sistema</h1>

    <!-- Total system entities -->
    <div class="row" style="margin-top: 5%">
      <canvas class="chart chart-pie" chart-data="data1Stat" chart-labels="labels1Stat"
              chart-options="optionsPieStat"></canvas>
    </div>

    <div class="divider"></div>
    <!-- Active/Inactive users -->
    <div class="row">
      <canvas class="chart chart-pie" chart-data="data2Stat" chart-labels="labels2Stat"
              chart-options="optionsPieStat"></canvas>
    </div>

    <div class="divider"></div>
    <!-- Total system entities -->
    <div class="row">
      <canvas class="chart chart-pie" chart-data="data3Stat" chart-labels="labels3Stat"
              chart-options="optionsPieStat"></canvas>
    </div>

    <div class="divider"></div>
    <!-- Last Logins -->
    <div class="row">
      <canvas class="chart chart-line" chart-data="data4Stat" chart-labels="labels4Stat"
              chart-options="optionsLineStat" , chart-series="series4Stat"></canvas>
    </div>

    <div class="divider"></div>
    <!-- Last Registrations -->
    <div class="row">
      <canvas class="chart chart-line" chart-data="data5Stat" chart-labels="labels5Stat"
              chart-options="optionsLineStat" , chart-series="series5Stat"></canvas>
    </div>

    <div class="divider"></div>
    <!-- Creation Date Depots -->
    <div class="row">
      <canvas class="chart chart-line" chart-data="data6Stat" chart-labels="labels6Stat"
              chart-options="optionsLineStat" , chart-series="series6Stat"></canvas>
    </div>

    <div class="divider"></div>
    <!-- Creation Date Depots -->
    <div class="row">
      <canvas class="chart chart-line" chart-data="data7Stat" chart-labels="labels7Stat"
              chart-options="optionsLineStat" , chart-series="series7Stat"></canvas>
    </div>

    <div class="divider"></div>
    <!-- Depot Types -->
    <div class="row">
      <canvas class="chart chart-radar" chart-data="data8Stat" chart-labels="labels8Stat"
              chart-options="optionsRadarStat" , chart-series="series8Stat"></canvas>
    </div>

    <div class="divider"></div>
    <!-- Depot Distances -->
    <div class="row">
      <canvas class="chart chart-radar" chart-data="data9Stat" chart-labels="labels9Stat"
              chart-options="optionsRadarStat" , chart-series="series9Stat"></canvas>
    </div>

  </div>
</div>
