<div id="adminStatsStyle">
  <div class="container">

    <h1 id="firstContent" class="text-center">Estadísticas del sistema</h1>

    <!-- Total system entities -->
    <div class="row" style="margin-top: 5%">
      <div class="col-sm-4"><p class="text-justify">Total de usuarios, almacenes y objetos en el
        sistema.</p></div>
      <div class="col-sm-8">
        <canvas class="chart chart-pie" chart-data="data1Stat" chart-labels="labels1Stat"
                chart-options="optionsPieStat"></canvas>
      </div>
    </div>

    <div class="divider"></div>
    <!-- Active/Inactive users -->
    <div class="row">
      <div class="col-sm-8">
        <canvas class="chart chart-pie" chart-data="data2Stat" chart-labels="labels2Stat"
                chart-options="optionsPieStat"></canvas>
      </div>
      <div class="col-sm-4"><p class="text-justify">Usuarios activos e inactivos.</p></div>
    </div>

  </div>
</div>
